<div class="card mb-3" style="max-width: 18rem;">
    <div class="card-header text-white bg-primary" style="font-family: Arial, Helvetica, sans-serif;">
        <h1>Eugene</h1>
        <h2><i class="fas fa-glasses"></i>Engineer</h2>       
    </div>
    <div class="card-body text-dark bg-light">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: </li>
            <li class="list-group-item">Email: <a href="#"> </a></li>
            <li class="list-group-item">Github: <a href="#"></a></li>
        </ul>
    </div>
</div>