<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"     />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/587cb420b5.js" crossorigin="anonymous"></script>
    <title>Main HTML</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-danger d-flex justify-content-center" style="height: 100px;">
        <span class="navbar-brand mb-0 h1" style="font-size: 32px;">My Team</span>
    </nav>

    <div class='row d-flex justify-content-around' id='managerContent'></div>
    <div class='row d-flex justify-content-around' id='engineerContent'></div>
    <div class='row d-flex justify-content-around' id='internContent'></div>

</body>

</html>